<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="3.0.0" targetFramework="net472" />
  <package id="ScottPlot" version="4.1.9-beta" targetFramework="net472" />
  <package id="ScottPlot.WPF" version="4.1.9-beta" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0-preview.1.21102.12" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>